{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>帮助</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="{% static 'get_activity_info/css/weui.css' %}" />
    <link rel="stylesheet" href="{% static 'get_activity_info/css/example.css' %}">
</head>

<body>
    <div class="container" id="container">
        <div class="page article js_show">
            <div class="page__hd">
                <h1 class="page__title">指南</h1>
                <p class="page__desc">研究生培养信息管理系统</p>
            </div>
            <div class="page__bd">
                <article class="weui-article">
                    <section>
                        <h2 style="font-size: 20px;color: #000000;">关于我们</h2>
                        <section>
                            <p style="font-size: 16px;text-indent: 2em;">
                                本平台是为研究生提供活动信息(德育活动，项目化加分活动，学术报告)、
                                活动报名、学生的参与记录、奖学金成绩加权排名公示、毕业就业指南、
                                科技生活等相关信息的服务管理平台

                            </p>
                        </section>
                        <h2 style="font-size: 20px;color: #000000;">联系我们</h2>
                        <section>
                            <p style="font-size: 16px;">
                                添加微信：“xxxxxxxxxxxxxxxxxxx”
                            </p>
                            <p style="font-size: 16px;">
                                如有疑问请联系工作人员！
                            </p>
                        </section>
                    </section>
                </article>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__text">BUCT © 2019 研究生培养信息管理系统</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>